body {
  font-family: monospace;
}
.page-header {
  text-align: center;
}

button {
  height: 3rem;
  border-radius: 8px;
  background-color: #72c3dc;
  border-width: 1px 1px 3px 1px;
  border-color: #72c3dc;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .page-header {
    background-color: #333333;
    font-size: 20px;
    color: #ffffff;
    padding: 6px;
  }
  button {
    width: 5rem;
  }
  .number {
    height: 3rem;
    background-color: #efefef;
    margin-bottom: 2px;
  }
  .number[value="1"],
  .number[value="8"] {
    border-left: 5px solid #6f98a8;
  }
  .number[value="3"],
  .number[value="5"],
  .number[value="9"] {
    border-left: 5px solid #2f454e;
  }
  .number[value="7"],
  .number[value="6"] {
    border-left: 5px solid #bfbfbf;
  }
  .number[value="2"],
  .number[value="4"] {
    border-left: 5px solid #2b8ead;
  }
  .mobile-toolbar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .desktop-toolbar {
    display: none;
  }
}

@media (min-width: 701px) {
  .page-header {
    font-size: 15px;
    padding: 6px;
  }
  button {
    width: 10rem;
  }
  #numbers {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 80vh;
  }
  .number {
    font-size: 5rem;
    color: #ffffff;
  }
  .number[value="1"],
  .number[value="8"] {
    background-color: #6f98a8;
  }
  .number[value="3"],
  .number[value="5"],
  .number[value="9"] {
    background-color: #2f454e;
  }
  .number[value="7"],
  .number[value="6"] {
    background-color: #bfbfbf;
  }
  .number[value="2"],
  .number[value="4"] {
    background-color: #2b8ead;
  }
  .mobile-toolbar {
    display: none;
  }
  .content-section {
    display: flex;
  }
  .left-section {
    flex-grow: 10;
  }
  .desktop-toolbar {
    flex-grow: 1;
    padding: 2rem;
  }
  .desktop-toolbar button {
    display: block;
    width: 100%;
  }
  .desktop-toolbar button:first-child {
    margin-bottom: 1rem;
  }
}
